
0. [Python install on MacOS](/python-install/)
0. [Python install on Raspberry Pi for IoT](/iot-raspberry-install/)

0. [Python coding tutorials](/python-tutorials/)
0. [Python coding notes](/python-coding/)
0. [Juypter notebooks provide commentary to Python](/juypter/)
0. [Test Python using Robot testing framework](/python-robot/)

0. [Pulumi controls cloud using Python, etc.](/pulumi/)
0. [Microsoft Azure Machine Learning makes use of Python](/azure-machine-learning/)
0. [Testing AI uses Python code](/testing-ai/)

0. [Python REST API programming using the Flask library](/python-api-flask/)
0. [Python coding for AWS Lambda Serverless programming](/aws-lambda-serverless/)
