0. [Azure Security-focus Cloud Onramp](/azure-onboarding/)

0. [AWS Security (certification exam)](/aws-security/)
0. [AWS IAM (Identity and Access Management)](/aws-iam/)

0. [SIEM/SOAR](/siem-soar/)

0. [SOC2](/soc2/)
0. [FedRAMP](/fedramp/)
0. [CAIQ (Consensus Assessment Initiative Questionnaire) by cloud vendors](/caiq/)

0. [Git Signing](/git-signing/)
0. [Hashicorp Vault](/hashicorp-vault/)
0. [OPA (Open Policy Agent)](/opa-rego/)

0. [SonarQube](/sonarqube/)
0. [WebGoat known insecure PHP app and vulnerability scanners](/webgoat/)
0. [Test for OWASP using ZAP on the Broken Web App](/owasp-testing/)

0. [Encrypt all the things](/encrypt-all/)

0. [Cyber Security](/cyber-security/)
0. [Security certifications](/security-certs/)
